body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(70, 69, 68, 0.822);
    background-image: url('../images/Image.gif');
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #272727;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
    text-align: center;
  }
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    font-weight:bolder;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
    float: left;
    text-align: center;
  }
  header h1.logo:hover {
    color: rgb(224, 13, 172);
    text-decoration: none;
    text-align: center; 
  }
  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 0 auto;
    background-color: #daeff0e0;
  }
  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(255, 255, 255);
  }
  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #444;
    text-decoration: none;
  }
  .parent {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: middle;
  }